.UGlogo {
    width: 280px;
    display: inline-block;
}

.buttons {
    display: flex;
    margin-left: 800px;
    justify-content: end;
 }
 .home-button,
 .about-button,
 .faculty-button,
 .research-group-button,
 .students-button {
    background-color: transparent;
    border: none;
 
 }
 .home-button:hover,
 .about-button:hover,
 .faculty-button:hover,
 .research-group-button:hover,
 .students-button:hover {
    color:rgb(189, 156, 108) ;
    cursor: pointer;
 }

 .head {
   background-color: rgb(245, 245, 245);
}

.direct {
   color: rgb(153, 153, 153);
   font-size: 25px;
}


 .intro-pic-container {
    width: 50%;
    margin-left: 25px;
 }
 .intro-pic {
    height: 250px;
    width: 1200px;
 }

 .first-header {
    text-align: center;
    font-size: 30px;
    font-family: "IBM Plex Sans Condensed";
    font-weight: bold;
    color: rgb(46, 31, 31);
 }
 .first-paragrapgh,
 .second-paragrapgh,
 .third-paragrapgh,
 .contact {
    font-family: "IBM Plex Sans";
    color: rgb(119, 119, 119);
 }
 .contact {
    text-decoration: underline;
 }

 .event-container {
    width: 600px;
    display: inline-block;
    height: auto;

 }
 .event-header {
    background-color: rgb(161, 156, 150);
    display: inline-block;
    width: 600px;
    height: 100px;

 }

 .event {
    display: inline-block;
    position: absolute;
    color: white;
    font-weight: 400;
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, s;
    
 }
 .event-button,
 .news-button {
    display: inline-block;
    margin-left: 450px;
    font-size: 25px;
    border: solid;
    border-radius: 3px;
    color: white;
    background-color: rgb(161, 156, 150);
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, s;
    transition: 0.3s;
 
}
 .event-button:hover,
 .news-button:hover {
    cursor: pointer;
    background-color: rgb(8, 29, 63);
    border: none;
 }

 .text-1 {
    border-bottom: 2px solid;
    border-radius:10px ;
 }
 .text-2 {
    border-bottom: 2px solid;
    border-radius:10px ;
 }
 .text-3 {
    border-bottom: 2px solid;
    border-radius:10px ;
 }
 

 .d1,
 .d2,
 .d3 {
    display: inline-block;
    background-color: rgb(8, 29, 63);
    color: white;
    border: none;
    padding-top:8px ;
    padding-bottom: 8px;
    border-radius: 4px;
    cursor: pointer;

 }
 .d1-text {
    display: inline-block;
    margin-bottom: 5px;

 }
 .d1-text2 {
    margin-left: 65px;
    margin-top: 0px;
 }

 
 
 .d2-text {
    display: inline-block;
    margin-bottom: 5px;

 }
 .d2-text2 {
    margin-left: 65px;
    margin-top: 0px;
 }

 
 
 .d3-text {
    display: inline-block;
    margin-bottom: 5px;
 }
 .d3-text2 {
    margin-left: 65px;
    margin-top: 0px;
 }

 .news-container {
    display: inline-block;
    width: 600px;
    vertical-align: top;
 }
 .news-header {
    background-color: rgb(161, 156, 150);
    display: inline-block;
    width: 600px;
    height: 100px;
 }

 .news {
    position: absolute;
    color: white;
    font-weight: 400;
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, s;
    display: inline-block;
 }


 .news-text {
    height: 203px;
 }

 .n1-text1,
 .n1-text2,
 .n1-text3 {
border-radius: 10px;
     border-bottom: 2px solid;
 }



 .foot {
   background-color: rgb(44, 42, 88);
   width: 100%;
   height: auto;
   margin-top: 20px;
}

.last{
   padding-top: 20px;
   margin-top: 20px;
   line-height: 35px;
   padding-left: 40px;
   color: white;
   display: inline-block;
}

.aca-container,
.admission-container,
.Research-container,
.about-department,
.Newsletter-container,
.location-container,
.contact-container {
   display: inline-block;
   vertical-align: top;
   margin-right: 40px;
   height: 450px;
}
.aca-text,
.admission-text,
.department-text,
.research-text,
.newsletter-text,
.contact-text,
.location-text1 {
   text-align: center;
   font-size: 18px;
   font-size: 22px;
   font-family: Poppins, sans-serif;
}
.Newsletter-container,
.contact-container,
.location-container {
  height: 350px;
}

.newsletter-info {
  color: rgb(119, 119, 119);
}

.search-bar {
  font-size: 18px;
}
  

.location-container {
  width: 230px;
  line-height: 19px;
}
.contact-container {
  line-height: 19px;

}

.location-text1 {
margin-left: 80px;
margin-top: 0px;
}

.undergraduate-button {
   background-color: transparent;
   border: none;
   color: white;
}

.undergraduate-button:hover {
   text-decoration: underline;
   cursor: pointer;
}

.map {
   height: 348px;
   width: 350px;
   display: inline-block;
   margin-left: 28px;
   margin-right: 0px;
}

.map-pic {
   height: 347px;
   width: 345px;
}




















 