.UGlogo {
    width: 280px;
    display: inline-block;
}
.school-name {
    display: inline-block;
    vertical-align:top;
    margin-left: 25px;
    font-weight: bold;
    font-size: 30px;
    font-style: Gotham Bold;
    font-feature-settings: "kern", "liga", "pnum";
}

.buttons {
   display: flex;
   margin-left: 70px;
   justify-content: end;
}
.home-button,
.about-button,
.faculty-button,
.research-group-button,
.students-button {
   background-color: transparent;
   border: none;
   font-size: 15px;

}
.home-button:hover,
.about-button:hover,
.faculty-button:hover,
.research-group-button:hover,
.students-button:hover {
   color:rgb(189, 156, 108) ;
   cursor: pointer;
}

.all {
    background-color:rgb(243, 241, 236) ;
}


.first-set {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.alpha-underline {
    text-decoration: underline;
    border-bottom: 2px solid;
}

.Title,
.first-title {
    font-size: 33px;
    font-family:"PT Sans", "Helvetica Neue", Helvetica, Arial  ;
    display: inline-block
}   

.second-set {
    display: inline-block;
}

.Alpha,
.Charlie,
.Delta,
.Echo,
.Hotel,
.India,
.Mike,
.Oscar,
.Papa,
.Sierra,
.Tango {
    color: rgb(161, 156, 150);
    font-size: 28px;
}

.text1 ,
.text2 ,
.text3 ,
.text4 ,
.text5 ,
.text6 ,
.text7 ,
.text8 ,
.text9 ,
.text10 ,
.text11 ,
.text12,
.text13,
.text14 ,
.text15,
.text16 ,
.text17 ,
.text18 ,
.text19 ,
.text20 ,
.text21 ,
.text22 ,
.text23,
.text24,
.text25,
.text26,
.text26,
.text27,
.text28 ,
.text29 ,
.text30 ,
.text31 ,
.text32 ,
.text33,
.text34,
.text35,
.text36,
.text37,
.text38,
.text38,
.text39,
.text40,
.text41,
.text42,
.text43,
.text44,
.text45,
.text46,
.text47,
.text48,
.text49,
.text50,
.text51,
.text52 {
    color: rgb(66, 112, 169);
    font-size: 16px;
    font-family:"PT Sans", "Helvetica Neue", Helvetica, Arial ;
}

.foot {
    background-color: rgb(44, 42, 88);
    width: 100%;
    height: auto;
    margin-top: 20px;
 }

 .last{
    padding-top: 20px;
    margin-top: 20px;
    line-height: 35px;
    padding-left: 40px;
    color: white;
    display: inline-block;
 }

 .aca-container,
 .admission-container,
 .Research-container,
 .about-department,
 .Newsletter-container,
 .location-container,
 .contact-container {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    height: 450px;
 }
 .aca-text,
 .admission-text,
 .department-text,
 .research-text,
 .newsletter-text,
 .contact-text,
 .location-text1 {
    text-align: center;
    font-size: 18px;
    font-size: 22px;
    font-family: Poppins, sans-serif;
 }
 .Newsletter-container,
 .contact-container,
 .location-container {
   height: 350px;
 }

 .newsletter-info {
   color: rgb(119, 119, 119);
 }

 .search-bar {
   font-size: 18px;
 }
   

 .location-container {
   width: 230px;
   line-height: 19px;
 }
 .contact-container {
   line-height: 19px;

 }

 .location-text1 {
margin-left: 80px;
margin-top: 0px;
}

.undergraduate-button {
   background-color: transparent;
   border: none;
   color: white;
}

.undergraduate-button:hover {
   text-decoration: underline;
   cursor: pointer;
}

.map {
  height: 348px;
  width: 350px;
  display: inline-block;
  margin-left: 28px;
  margin-right: 0px;
}

.map-pic {
  height: 347px;
  width: 345px;
}







