.UGlogo {
    width: 280px;
    display: inline-block;
}
.school-name {
    display: inline-block;
    vertical-align:top;
    margin-left: 25px;
    font-weight: bold;
    font-size: 30px;
    font-style: Gotham Bold;
    font-feature-settings: "kern", "liga", "pnum";
}

.buttons {
   display: flex;
   margin-left: 800px;
   justify-content: end;
}
.home-button,
.about-button,
.faculty-button,
.research-group-button {
   background-color: transparent;
   border: none;
   font-size: 15px;

}
.home-button:hover,
.about-button:hover,
.faculty-button:hover,
.research-group-button:hover {
   color:rgb(189, 156, 108) ;
   cursor: pointer;
}


.first-image-container {
    width: 100%;
   position: relative;
    display: flex;
    border: none;
    object-fit: contain;
}

.main-pic {
    width: 100%;
    height: 350px;
}

.first-image-text {
position: absolute;
color: rgb(44, 42, 88);
bottom: 50%;
font-weight: bold;
font-size: 70px;
font-family:"Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

}

.first-intro {
    width: 400px;
    height: 500px;
    display: inline-block;
    vertical-align: top;
}

.intro-text1 {
    width: 300px;
}
.reinvent-intro1 {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 48px;
}

.second-intro {
    width: 300px;
    height: 500px;
    display: inline-block;
    vertical-align: top;
}

.Bsc-intro2 {
    font-weight: bold;
    font-size: 28px;
    margin-bottom:11px ;
}

.Apply-container {
    display: inline-block;
    border: SOLID;
    width: 200px;
    height: 360px;
    position: relative;
    margin-top: 70px;
  margin-left: 50px;
}

.Apply-pic {
    width: 200px;
    height: 360px;
}

.Apply-text1 {
    position: absolute;
    color: white;
    top: 10%;
    right:10%;
    font-size: 33px;
   
}

.Apply-text2 {
    position: absolute;
    color: white;
    bottom: 20%;
    text-align: center;
    display: block;
    margin-inline-end:18px ;
    margin-inline-start: 18px;
}
.button-container {
    position: absolute;
    bottom: 10px;
    right: 50px;

    
}
 .apply-button {
    background-color:rgb(189, 156, 108) ;
    color: white;
    font-size: 20px;
    height: 40px;
    margin-top: 15px;
    margin-bottom:8px ;
    border: none;
    transition: 0.3s;
 }
 .apply-button:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: black;
   
 }

 .career1-container {
    display: block;
    margin-left: 60px;

 }

 .careers-text {
    font-family: "Gotham Bold";
    font-size: 36px;
    font-feature-settings:"kern", "liga", "pnum" ;
    font-weight: 400;
    margin-bottom: 48px;
    margin-top: 16px;
    text-align: center;
 }

 .career-dropdown {
    color: rgb(33, 37, 41);
 }

 .career1 {
    display: inline-block;
    margin-right: 50px;
    border-bottom: 2px solid;
    border-color: grey;
    font-size: 25px;
 }
 .career2 {
    margin-right: 50px;
    border-bottom: 2px solid;
    border-color: grey;
    display: inline-block;
    font-size: 25px;
margin-left: 50px;
 }
 .career3 {
    margin-left: 50px;
    display: inline-block;
    font-size: 25px;
    border-bottom: 2px solid;
    border-color: grey;
 }

 .career2-container {
    display: block;
    
 }
 .career4 {
    margin-right: 100px;
    display: inline-block;
    font-size: 25px;
    margin-right: 50px;
    border-bottom: 2px solid;
    border-color: grey;

 }
 .career5 {
    margin-right: 50px;
    display: inline-block;
    font-size: 25px;
    margin-left: 80px;
    border-bottom: 2px solid;
    border-color: grey;

 }
 .career6 {
    margin-left: 50px;
    display: inline-block;
    font-size: 25px;
    border-bottom: 2px solid;
    border-color: grey;
 }

 .foot {
    background-color: rgb(44, 42, 88);
    width: 100%;
    height: auto;
    margin-top: 20px;
 }

 .last{
    padding-top: 20px;
    margin-top: 20px;
    line-height: 35px;
    padding-left: 40px;
    color: white;
    display: inline-block;
 }

 .aca-container,
 .admission-container,
 .Research-container,
 .about-department,
 .Newsletter-container,
 .location-container,
 .contact-container {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    height: 450px;
 }
 .aca-text,
 .admission-text,
 .department-text,
 .research-text,
 .newsletter-text,
 .contact-text,
 .location-text1 {
    text-align: center;
    font-size: 18px;
    font-size: 22px;
    font-family: Poppins, sans-serif;
 }
 .Newsletter-container,
 .contact-container,
 .location-container {
   height: 350px;
 }

 .newsletter-info {
   color: rgb(119, 119, 119);
 }

 .search-bar {
   font-size: 18px;
 }
   

 .location-container {
   width: 230px;
   line-height: 19px;
 }
 .contact-container {
   line-height: 19px;

 }

 .location-text1 {
margin-left: 80px;
margin-top: 0px;
}

.undergraduate-button {
   background-color: transparent;
   border: none;
   color: white;
}

.undergraduate-button:hover {
   text-decoration: underline;
   cursor: pointer;
}







