.UGlogo {
    width: 280px;
    display: inline-block;
}
.school-name {
    display: inline-block;
    vertical-align:top;
    margin-left: 25px;
    font-weight: bold;
    font-size: 30px;
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial;
    font-feature-settings: "kern", "liga", "pnum";
}

.buttons {
   display: flex;
   margin-left: 70px;
   justify-content: end;
}
.home-button,
.about-button,
.faculty-button,
.research-group-button,
.students-button {
   background-color: transparent;
   border: none;
   font-size: 15px;

}
.home-button:hover,
.about-button:hover,
.faculty-button:hover,
.research-group-button:hover,
.students-button:hover {
   color:rgb(189, 156, 108) ;
   cursor: pointer;
}

.dir {
   color: rgb(66, 139, 202);
}

.all {
    background-color: rgb(234, 234, 234);
}

.image1-container {
    width: 100%;
   position: relative;
    display: flex;
    border: none;
    object-fit: contain;
}

.pic1 {
    background-image: url(images/library1.jpg);
    height: 300px;
    width: 100%;
    display: flex;
}

.pic-info {
    position: absolute;
    top: 30px;
    left: 20px;
    color: rgb(73, 73, 145);
    font-size: 80px;
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial;
}

.balme-info {
    font-family: sans-serif;
}

.highlight {
    color: blue;
}

.fourth-container,
.third-container {
    display: inline-block;
    width: 600px;
    box-shadow: 3px 3px 3px black;
    margin-right: 20px;
}

.fifth-container {
    width: 600px;
    box-shadow: 3px 3px 3px black;
    margin-left: 300px;
}

.header {
    background-color: rgb(154, 154, 63);
    height: 50px;
    text-align: center;
}

.mach1 {
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial;
}

.go {
    font-size: 25px;
    text-align: center;
}

.foot {
    background-color:rgb(68, 68, 68) ;  
    width: 100%;
    height: 200px;
    margin-top: 10px;
 }
 
 .last {
    padding-top: 20px;
    margin-top: 10px;
    line-height: 35px;
    padding-left: 40px;
    color: white;
    display: inline-block;
 }
 
 .back {
    color: rgb(66, 139, 202);
 }
 
 .back-button {
    border: none;
    background-color: transparent;
    color: rgb(66, 139, 202);
 }
 
 .back-button:hover {
    text-decoration: underline;
 }