.all {
   background-color: rgb(234,234,234);
}




.UGlogo {
    width: 280px;
    display: inline-block;
}

.school-name {
    display: inline-block;
    vertical-align:top;
    margin-left: 25px;
    font-weight: bold;
    font-size: 30px;
    font-style: Gotham Bold;
    font-feature-settings: "kern", "liga", "pnum";
}

.buttons {
    display: flex;
    margin-left: 800px;
    justify-content: end;
 }
 .home-button,
 .about-button,
 .faculty-button,
 .research-group-button,
 .students-button {
    background-color: transparent;
    border: none;
 
 }
 .home-button:hover,
 .about-button:hover,
 .faculty-button:hover,
 .research-group-button:hover,
 .students-button:hover {
    color:rgb(189, 156, 108) ;
    cursor: pointer;
 }

 .first-image-container {
    position: relative;
    left: 5%;
 }

 .text-container {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: auto;
    left: 5%;
    height: 250px;
    width: 500px;
    background-color: rgb(41, 97, 188);
 }
 .text-header {
    color: white;
    font-size: 40px;
    font-weight: 700px;
    display: block;
    font-family:"PT Sans", "Helvetica Neue", Helvetica, Arial, sa ;
    text-align: center;
 }
.text-info {
    color: white;
    font-size: 25px;
    padding-left: 90px;
    padding-right: 60px;
}
 .main-image-container {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    margin-left: 40px
 }
 .actual-pic {
    width: 500px;
    height: 250px;
   
 }

 .second-set {
    position: relative;
    left: 10%;
 }

 .course-container,
 .degree-container,
 .library-container,
 .examination-container,
 .timetable-container {
    display: inline-block;
    margin-right: 60px;
 }
 
 
 .image-course,
 .image-degree,
 .image-library,
 .course-pic,
 .degree-pic,
 .library-pic,
 .image-examination,
 .image-timetable {
    width: 300px;
    height: 200px;
    vertical-align: top;
    margin-top: 0px;

 }

 .course-header,
 .degree-header,
 .library-header,
 .examination-header,
 .timetable-header {
    background-color:rgb(161, 156, 150) ;
    margin-bottom: 0px;
    height: 100px;
    text-align: center;
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial;
    border-bottom: 3px solid;
    border-color: white;
    padding: 0%;
    text-decoration: underline;
 }
 .course-header,
 .degree-header,
 .examination-header,
 .timetable-header {
   padding-top: 10px;
 }

 .course-header:hover {
   cursor: pointer;
    
}


 .examination-header,
 .timetable-header {
   width: 300px ;
   margin-bottom: -5px;
 }

 .library-header:hover {
   cursor: pointer;
 }

 .image-course,
 .image-degree,
 .image-library {
    position: relative;
    bottom: 11%;
 }
 .library-header {
    width: 300px;
 }

 .image-examination,
 .image-timetable {
   position: relative;
   top: 11%;
 }

 .foot {
   background-color: rgb(44, 42, 88);
   width: 100%;
   height: auto;
   margin-top: 20px;
}

.last{
   padding-top: 20px;
   margin-top: 20px;
   line-height: 35px;
   padding-left: 40px;
   color: white;
   display: inline-block;
}

.aca-container,
.admission-container,
.Research-container,
.about-department,
.Newsletter-container,
.location-container,
.contact-container {
   display: inline-block;
   vertical-align: top;
   margin-right: 40px;
   height: 450px;
}
.aca-text,
.admission-text,
.department-text,
.research-text,
.newsletter-text,
.contact-text,
.location-text1 {
   text-align: center;
   font-size: 18px;
   font-size: 22px;
   font-family: Poppins, sans-serif;
}
.Newsletter-container,
.contact-container,
.location-container {
  height: 350px;
}

.newsletter-info {
  color: rgb(119, 119, 119);
}

.search-bar {
  font-size: 18px;
}
  

.location-container {
  width: 230px;
  line-height: 19px;
}
.contact-container {
  line-height: 19px;

}

.location-text1 {
margin-left: 80px;
margin-top: 0px;
}

.undergraduate-button {
  background-color: transparent;
  border: none;
  color: white;
}

.undergraduate-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.map {
   height: 348px;
   width: 350px;
   display: inline-block;
   margin-left: 28px;
   margin-right: 0px;
}

.map-pic {
   height: 347px;
   width: 345px;
}








